body {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

hr {
    color: gray;
}

a:hover {
    text-decoration: underline #dc944f;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Navbar */

.navbar {
  display: flex;
    height: 80px;
    align-items: center;
  color: #ffffff;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #dc944f;
  font-size: 25px;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}

.navbar a:hover {
    text-decoration: underline #dc944f;
    color: #ffffff
}

.navbar:hover {
    background-color: #885e32;
}

.logo{
  /*font-size: 25px;*/
  font-weight: bold;
}
.logo_header{
  display: flex;
}

.logo_header .registered_user {
    display: flex;
}

.main_nav{
  display: flex;
  float: right;
  justify-content: space-around;
  list-style: none;
}
.main_nav li:hover{
  text-decoration: underline #dc944f;
}

.main_nav li{
  color: #ffffff;
}

.main_nav li a{
  color: #ffffff;
}

.selected {
  text-decoration: underline overline #dc944f;
}

/* Products */

.main_ingredients {
  background-color: white;
  border: 10px solid #dc944f;
    border-radius: 0 0 25px 25px;
}

.main_ingredients li:hover {
    text-decoration: underline overline #dc944f;
}

.single_ingredient {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 20px;
}

.single_ingredient__content ul li{
    padding-top: 20px;
    color: black;
    font-size: 22px;
    width: 150px
}

.single_ingredient img{
    margin-top: 50%;
    max-height: 150px;
    min-width: 50px;
    object-fit: contain;
}

.list_ingredients {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(auto-fill, 400px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin: 0 auto ;
}

.grid-item {
    border: 2px solid gray;
    border-radius: 30px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.main_ingredients ul {
    display: flex;
    margin: auto;
    width: 500px;
    justify-content: space-evenly;
}

.main_ingredients li {
    display: inline;
    font-size: 20px;
}

/* footer */

footer {
    display: flex;
    margin-top: auto;
    height: 150px;
    background-color: #dc944f;
    color: white;
    border-radius: 25px 25px 0 0;
}

footer:hover {
    background-color: #885e32;
}

footer table {
  margin: 0 auto;
  width: 500px;
  height: 100px;
  font-size: 25px;
}

footer table a:hover {
    text-decoration: underline #dc944f;
    color: #ffffff
}

/* single product page */

.single_ingredient_page ul {
    display: flex;
}

/* no product under search */

.no-product-found {
    display: inline-block;
    width: 50em;
    text-align: center;
    border: 5px solid #dc944f;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Form search */

.form_search {
    margin: 0 auto;
    width: 250px;
    height: 40px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius:  3px;
    border: 1px solid #fff;
}

.form_search input {
    width: 370px;
    padding: 10px 5px;
    margin-top: 2px;
    float: left;
    color: #ccc;
    color-scheme: none;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
}

.form_search input:-webkit-autofill,
 input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}


.form_search input:focus {
    outline: 0;
      background: transparent;
}

.form_search input::placeholder {
    color: rgba(255, 255, 255, 0.66);
}

.form_search button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 60px;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
}

.form_search button:hover {
      background: #fff;
      color:#444;
}

.form_search button:active {
      box-shadow: 0 0 12px 0 rgba(225, 225, 225, 1);
}

.form_search button:focus {
      outline: 0;
}

/* end of search panel */

/*content itself*/

.content {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    min-height: 70vh;
    width: 90%;
}

.content button {
    width: 150px;
    height: 50px;
    border: 1px solid #dc944f;
    border-radius: 15px;
    background-color: transparent;
    font-size: 15px;
}

.content button a:hover {
    text-decoration: underline #dc944f;
}

/* register and login forms */

.form-setup {
    margin: auto 0;
    padding: 0 20px 20px;
    border: 5px solid #dc944f;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-itself input {
    width: 300px;
    float: right;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.login-button {
    font-size: 25px;
}

.login-button:hover {
    cursor: pointer;
    text-decoration: underline #dc944f;
}

/* cart itself */

.cart-view {
    margin: 50px auto;
    width: 300px;
    min-height: 300px;
    padding: 20px;
    border: 5px solid #dc944f;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.checkout-button {
    display: inline-block;
    font-size: 16px;
    height: 30px;
    width: 80px;
    background-color: #dc944f;
    color: white;
    border-radius: 5px;
}

.empty-cart {
    display: inline-block;
    font-size: 20px;
    color: gray;
}

.cart-items-values {
    margin: 50px auto;
    font-size: 20px;
}

/* checkout */

.checkout-view {
    margin: 50px auto;
    width: 300px;
    min-height: 300px;
    padding: 20px;
    border: 5px solid #dc944f;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* paginator */

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages .all-pages {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages .all-pages li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #dc944f;
	font-size: 20px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 2px solid gray;
    border-radius: 5px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	color: black;
    background-color: #dc944f;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}