{% extends 'core/base.html' %}
{% block content %}
<div class="user_profile">
    <div>
        <h1>My Profile</h1>
        <h2>{{ name }}</h2>
        <h3>{{ email }}</h3>

        <p>My orders: </p>
    {% for order in orders %}
    <ul class="user_profile__order">
        <li style="font-size: 20px">
            <b>Order from: {{ order.created_at|date:"Y-m-d" }}</b>
        </li>
        <li>
            Total price: {{ order.paid_amount }}$
        </li>
        <li>
            Status:
            {% if order.is_paid %}
                <span style="color: #006b1b">done</span>
            {% else %}
                <span style="color: #94b24d">pending</span>
            {% endif %}
        </li>
        <li>
            <div>Order containment:</div>
            <div style="display: flex">
                {% for item in items %}
                    {% for prod in item %}
                        {% if order.pk == prod.order.pk %}
                            <div> {{ prod.product.title }}: {{ prod.quantity }}x{{ prod.product.quantity }} </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </li>
    </ul>
    {% endfor %}
    </div>

    {% include 'store/partials/paginator_part.html'%}

</div>
{% endblock %}