{% extends 'core/base.html' %}
{% block title %}{{ title }} | The Hag's Cure{% endblock %}
{% block content %}
<div class="form-setup">
    <div style="text-align: center">
        <h1>{{title}}</h1>
    </div>
    <div id="registration-form">
        {% include 'userprofile/partials/register_form_fragment.html' %}
    </div>
    
    <div style="text-align: center; margin-top: 20px;">
        <p><a href="{% url 'login' %}">Уже есть аккаунт? Войти</a></p>
        <p><a href="{% url 'resend_activation' %}">Не получили письмо активации?</a></p>
    </div>
</div>
{% endblock %}