{% extends 'core/base.html' %}
{% block title %}{{ title }} | The Hag's Cure{% endblock %}
{% block content %}
<div class="form-setup">
    <div style="text-align: center">
        <h1>{{ title }}</h1>
    </div>
    <div class="">
        <p>Введите ваш email для повторной отправки письма активации:</p>
        
        <div id="resend-form">
            {% include 'userprofile/resend_activation_form_fragment.html' %}
        </div>
        
        <div style="text-align: center; margin-top: 20px;">
            <p><a href="{% url 'login' %}">Вернуться к входу</a></p>
        </div>
    </div>
</div>
{% endblock %}