<form hx-post="{% url 'update_profile' %}" 
      hx-target="#form-content" 
      hx-encoding="multipart/form-data"
      enctype="multipart/form-data"
      novalidate>
  {% csrf_token %}
  
  <div id="form-content">
    {% include 'userprofile/partials/profile_form_fragment.html' %}
  </div>
  
  <div class="btn-group">
    <button type="button" class="product-card__button" onclick="closeProfileModal()">
      Cancel
    </button>
    <button type="submit" class="product-card__button">
      Save Changes
    </button>
  </div>
</form>