<div style="margin: 50px auto">
    <div class="list_ingredients">
        {% for item in items %}
        <div class="grid-item">
            <ul class="single_ingredient" style="margin-top: 40px; width: 250px">
            <li>
                {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="{{ item.title }}">
                {% else %}
                <img src="https://picsum.photos/id/237/200/300" alt="">
                {% endif %}
            </li>

            <li class="single_ingredient__content">
                <ul>
                    <li>
                        <i>{{item.title}}</i>
                    </li>
                    <li style="font-size: 15px; text-align: justify">
                        {{item.content|linebreaks|truncatewords:12}}
                    </li>
                </ul>
            </li>
            </ul>
            <div style="margin: 30px auto; display: flex">
                <ul style="margin: 0 auto; display: inline-block">
                    <li style="text-align: center">
                        <strong>{{item.price}}$</strong>
                    </li>
                    <li style="margin-top: 20px">
                        <button>
                            <a href="{{ item.get_absolute_url }}">Read more</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        {% endfor %}

    </div>
    {% include 'store/partials/paginator_part.html'%}
</div>