{% load static %}
{% load core_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'core/css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'core/images/favicon-32x32.png' %}">
    <title>
        {% if title %}
            {{title}}
        {% else %}
            Extraordinary cosmetics
        {% endif %}
    </title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li style="width: 120px">
                <a href="{% url 'home' %}" class="logo">
                    The Hag's Cure
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li style="display: flex">
                <a style="margin-right: 25px">{{user.username}}</a> |
                <a style="margin-left: 25px" href="{% url 'logout' %}"> Logout</a>
            </li>
            {% else %}
             <li style="display: flex">
                <a style="margin-right: 30px"href="{% url 'register' %}">Registration</a> |
                <a style="margin-left: 30px" href="{% url 'login' %}"> Login</a>
             </li>
            {% endif %}
             <li style="width: 25%">
                <form method="get" class="form_search" action="/search/">
                <input style="width: 50px" name="single_product" type="text" placeholder="Search..."/>
                <button>Search</button>
            </form>
            </li>
            <li style="width: 25%">
                {% show_menu %}
            </li>
        </ul>
    </nav>

    <div class="main_ingredients" style="display: flex; margin: auto 0">
        {% show_categories cat_selected=cat_selected %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% show_footer %}
    </footer>

</body>
</html>