{% extends 'core/base.html' %}

{% block content %}
<div class="form-setup">
    <div style="text-align: center">
        <h1>{{title}}</h1>
    </div>
    <div class="form-itself">
        <form method="post">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
        <p style="width: 500px" ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <div style="display: flex">
            <button type="submit" class="login-button" style="margin: 0 auto;">Sing up</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}