{% load static %} 
{% load core_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"defaultScrollBehavior":"ignore"}' />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link
      type="text/css"
      href="{% static 'core/css/style.css' %}"
      rel="stylesheet"
    />
    <link rel="icon" href="{% static 'store/images/favicon-32x32.png' %}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar">
        <ul>
        <!-- logo -->
        <li>
          <a href="{% url 'showcase' %}" class="logo"> The Hag's Cure </a>
        </li>

        {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'user_account' %}"
              >{{user.username}}</a
            >
            |
            <a href="{% url 'logout' %}"> Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'register' %}"
              >Registration</a
            >
            |
            <a href="{% url 'login' %}"> Login</a>
          </li>
          {% endif %}
        <li>
          <form
            method="get"
            class="form_search"
            action="{% url 'search_results' %}"
            hx-get="{% url 'search_results' %}"
            hx-target="#search-results"
            hx-trigger="input changed delay:500ms from:input[name='search']"
            hx-include="[name='search']"
          >
            <input
              id="search-input"
              name="search"
              type="text"
              placeholder="Search..."
              autocomplete="off"
              value="{{ request.GET.search|default:'' }}"
            />
            <button type="submit">
              <img 
                src="{% static 'core/icons/search-icon.svg' %}" 
                alt="search" 
                width="30" 
                height="30"
              >
            </button>
            
            <div
              id="search-results"
              class="search-results"
              style="display: none;"
            >
            </div>
          </form>
        </li>

        <li>
          <ul class="main_nav">
            <li class="navbar-actions">
              <a
                href="{% url 'cart_view' %}"
                class="nav_links"
              >
                <img
                  src="{% static 'core/images/cart.png' %}"
                  alt="cart"
                />
                <p id="cart-count">({{ cart|length }})</p>
              </a>
            </li>
            {% show_menu %}
          </ul>
        </li>
        </ul>
      </nav>

      <div class="categories">
        {% show_categories cat_selected=cat_selected %}
      </div>

      <div class="content">{% block content %} {% endblock %}</div>

      <footer>{% show_footer %}</footer>
    </div>
    <script src="{% static 'cart/js/cart.js' %}"></script>
    <script src="{% static 'core/js/core.js' %}"></script>
    <script src="{% static 'store/js/store.js' %}"></script>
    <script src="{% static 'userprofile/js/userprofile.js' %}"></script>
  </body>
</html>
