{% extends 'core/base.html' %}
{% block content %}
<div class="cart-view">
    <div style="text-align: center">
        <h1> Cart </h1>
    </div>
    {% if cart|length %}
    <div>
        {% for item in cart %}
        <hr>
        <div class="cart-items-values">
            <div style="font-size: 30px; margin-top: 20px">
                {{item.product.title}} <br>
            </div>
            <div style="margin-top: 20px">
                <b>Price: </b> {{item.product.price}}$<br>
            </div>
            <div style="margin-top: 20px">
                <a href="{% url 'remove_from_cart' item.product.id %}">Remove from cart</a>
            </div>
            <div style="display: flex; margin-top: 20px">
                <a href="{% url 'change_quantity' item.product.id %}?action=increase" style="margin-right: 20px">+</a>
                <div style="border: 2px solid  #dc944f; padding: 2px">{{item.quantity}}</div>
                <a href="{% url 'change_quantity' item.product.id %}?action=decrease" style="margin-left: 20px">-</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <p>Total cost: {{ cart.get_total_cost }} $</p>
        <button class="button-1" role="button"><a href="{% url 'checkout' %}" style="display: block; text-align: center">Checkout</a></button>
    </div>
    {% else %}
    <div style="text-align: center">
        <div class="empty-cart"><i>There are no items in cart...</i></div>
    </div>
    {% endif %}
</div>
{% endblock %}