{% extends 'core/base.html' %}
{% block title %}{{ title }} | The Hag's Cure{% endblock %}
{% block content %}
<div class="checkout-view">
    <div style="text-align: center">
        <h1>Checkout</h1>
    </div>
    <hr>
    <form method="post" action=".">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <div style="display: flex">
            <button type="submit" class="login-button" style="margin: 0 auto;">Checkout</button>
        </div>
    </form>
    <hr>
    <div style="display: inline-block; margin: auto 0">
        <b style="font-size: 20px">Total price: </b>{{cart.get_total_cost}}$</p>
    </div>
</div>
{% endblock %}