<form
  method="post"
  hx-post="{% url 'register' %}"
  hx-target="#registration-form"
  hx-swap="outerHTML"
>
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  {% for f in form %}
  <p>
    <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
    {{ f }}
  </p>
  <div class="form-error">{{ f.errors }}</div>
  {% endfor %}
  <div style="display: flex">
    <button type="submit" class="login-button" style="margin: 0 auto">
      Sign up
    </button>
  </div>
</form>